* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  a.active {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.signup-content {
  display: flex;
  justify-content: space-between;
}

.signup-form {
  flex: 1;
  margin-right: 2rem;
}

.signup-image {
  flex: 1;
  display: flex;
  align-items: center;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}

.signin-content {
  display: flex;
}

.signin-content {
  display: flex;
  justify-content: space-between;
}

.signin-image {
  flex: 1;
  margin-right: 2rem;
}

.signin-image img {
  max-width: 150%;
  height: auto;
}

.signin-form {
  flex: max-content;
  padding: 6rem;
}

.signin-form input[type="text"],
.signin-form input[type="password"] {
  width: 80%;
  padding: 4px;
  margin-right: 1rem;
}

.signin-form .form-submit {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.contact-info {
  background-color: var(--bg-color);
  padding: 4rem 0;
}

.contact_info_item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.contact_info_item img {
  margin-right: 1rem;
}

.contact_form_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form textarea {
  width: 50%;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
}

.contact-form textarea {
  width: 50%;
  height: 10%;
}

.contact_form_button {
  margin-top: 1rem;
}

.contact_submit_button {
  font-size: 1.5rem;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home-div {
  text-align: center;
}
.profile-work p,
a {
  font-size: 18px;
}
.col-md-6 label {
  font-size: 13px;
}
.row p {
  font-size: 13px;
}

#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}
.notfound p {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}
.notfound a {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transform: 0.2s, all;
  transition: 0.2s, all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}
@media only screen and(max-width:480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
